---
import PostCategories from "@src/components/blog/PostCategories.astro";
import PostMeta from "@src/components/blog/PostMeta.astro";
import Layout from "@src/layouts/Layout.astro";
import { PostSchema } from "@src/types";
import { Picture } from "astro:assets";

export const prerender = false;

const url = `${import.meta.env.API_URL}/posts?slug=${Astro.params.blogPost}`;
const res = await fetch(url);
const json = await res.json();
const post = PostSchema.safeParse(json[0]);
if(!post.success) return Astro.redirect('/404')
const { title, featured_images, date, category_details, content } = post.data;
---

<Layout
  title={title.rendered}
  subtitle={title.rendered}
  bgImage={featured_images.full.url}
>
  <article class="space-y-5 max max-w-4xl mx-auto">
    <PostMeta date={date} />
    {category_details.map((cat) => <PostCategories name={cat.name} />)}

    <Picture
      src={featured_images.full.url}
      alt={title.rendered}
      width={featured_images.medium_large.width}
      height={featured_images.medium_large.height}
      formats={["avif", "webp"]}
      class="w-full"
    />
    <div set:html={content.rendered} class="text-lg space-y-3 mt-5"></div>
  </article>
</Layout>
