---

import { BaseWPSchema } from "@src/types";
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";


const url = 'http://coffeeshop.local/wp-json/wp/v2/pages/?slug=nosotros'
const res = await fetch(url);
const json = await res.json();
const data = BaseWPSchema.parse(json[0]);
---

<Layout 
title={data.title.rendered}
subtitle={data.acf.subtitle}
bgImage={data.featured_images.full.url}
>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
  <Picture
  src={data.featured_images.medium_large.url}
  alt={`Imagen de ${data.title.rendered}`}
  width={data.featured_images.medium_large.width}
  height={data.featured_images.medium_large.height}
  formats={['avif', 'webp']}
  ></Picture>
  <div set:html={data.content.rendered} class="text-xl space-y-3 mt-10 lg:mt-0"></div>
</div>

</Layout>
