---
import type { Gallery } from "@src/types";
import { Picture } from "astro:assets";
interface Props {
  gallery: Gallery[];
}

const { gallery } = Astro.props;
---

<div id="gallery" class="grid grid-cols-1 lg:grid-cols-3 gap-5">
  {
    gallery.map((image) => (
      <a 
      href={image.full.url}
      data-pswp-width={image.full.width}
      data-pswp-height={image.full.height}
      target="_blank"
      >
      <Picture
        src={image.large.url}
        alt="Galería de imágenes"
        width={image.large.width}
        height={image.large.height}
        formats={["avif", "webp"]}
      /></a>
    ))
  }
</div>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import 'photoswipe/style.css'

  const lightbox = new PhotoSwipeLightbox({
    gallery: '#gallery',
    children: 'a',
    pswpModule: () => import('photoswipe')
  })
  lightbox.init()
</script>