---
import type { Post } from "@src/types";
import {formatDate} from '../../helpers'
import { Picture } from "astro:assets";
interface Props {
  post: Post;
}
const { post } = Astro.props;
---

<article
  class="grid grid-cols-1 lg:grid-cols-3 gap-5 py-10 border-b last-of-type:border-0 border-zinc-300"
>
  <div class="lg:col-span-2 space-y-5">
    <h3 class="text-coffee-900 font-black text-4xl uppercase">
      <a href="">
        {post.title.rendered}
      </a>
    </h3>
    <p>
      Escrito el: <span class="text-coffee-600">{formatDate(post.date)}</span>
    </p>

    <div set:html={post.content.rendered} class="line-clamp-2" />
  </div>

  <Picture
  src={post.featured_images.medium_large.url}
  alt={post.title.rendered}
  width={post.featured_images.medium_large.width}
  height={post.featured_images.medium_large.height}
  formats={['avif', 'webp']}
  class="w-full lg:w-96 h-64 object-cover rounded-2xl"
  ></Picture>
</article>
